[2019-05-31 15:27] azaroth42 opened #4 "Should this document also consider data on the web?"
The document asserts that the architecture of the web is browser based, yet there are many other classes of user agent and many other documents not intended for browsers that are published on the web. These web resources also generate ethical considerations, including many which are already covered.

The document acknowledges that ...

But then only discusses browser user agents:

The first princi

[2019-05-31 20:52] Michael-S opened #5 "Suggested principles: user data freedom portability"
As part of the stated "human rights, dignity and personal agency", I respectfully suggest adding the principle of user data freedom and portability.  The specific wording is a complex question, but the rough idea is that users should be able to download the complete set of data that a provider has on them.  The user should also have the freedom to use that data in any way they see fit.

[2019-06-03 09:40] triblondon opened #6 ""open and decentralised""
The web is often referred to an 'open and decentralised'.  I don't see any definitions of references to those terms in this document.  Should there be?

"Open" I've often had problems with.  It's frequently touted, I believe because it's safe to do so without actually signing up to anything tangible.  'Open', is, essentially, a subjective judgement.  The TAG could try to make it more objective, bu

[2019-06-04 17:42] twifkak opened #7 "Conflicts between principles"
Often situations arise where there is an unavoidable trade-off between two principles. (This may be a simple trinary "pick two" scenario, or a more complicated continuum between various aspects.)

The document may want to offer advice on how authors/editors should handle these trade-offs. Are some principles always preferred above others? Are there some rough preferences where a major (high impact

[2019-06-04 17:47] twifkak opened #8 ""Minimal change" principle?"
I presume that, all else being equal, the minimal change to the web platform should be preferred. It's unclear to me whether this should be called out as a separate principle, or if it follows obviously enough from "for all people" (including people with old user agents) and "multi-browser, multi-OS and multi-device" (given they may have different criteria before adopting changes to the platform).

[2019-06-04 18:22] hober commented on #8
There were a few proposed HTML design principles that touched on this, several of which made it into [that document](https://www.w3.org/TR/html-design-principles/) (Pave the Cowpaths, Evolution Not Revolution, Avoid Needless Complexity) and one that (sadly, IMHO) did not ([Baby Steps](https://www.w3.org/html/wg/wiki/DesignPrinciplesReview#Baby_Steps)).

[2019-06-05 01:23] dbaron commented on #8
This seems like it might be a reasonable practical principle (although I tend to think it's not true all the time, and might be better derived from other principles in the cases where it is good).  But I don't think it's an ethical principle that belongs in this document.

[2019-06-05 01:29] twifkak commented on #7
There's another option of "Don't make changes unless they're neutral to positive on all axes." This seems to be dependent on #8, or else one should evaluate change X in equal footing to "pretend we have X, now undo it", in which case we have stalemate.

[2019-06-05 02:45] pirate opened #9 "Right to be forgotten"
Users should have a right to delete their data and request it be de-listed from search engines.

As someone who works on internet archiving, I have to think about this principle a lot when designing digital preservation mechanisms, the right to remove must always be considered.

- https://en.wikipedia.org/wiki/Right_to_be_forgotten
- https://gdpr-info.eu/art-17-gdpr/
- https://gdpr-info.eu/issues/

[2019-06-05 08:45] lknik commented on #9
I would assume RTBF is more about privacy, so not convinced it should be included in the existing published document on ethics.

[2019-06-05 08:45] #9 closed, assigned to nobody

[2019-06-05 08:49] lknik commented on #5
It's definitely within the existing framework of data protection (for example, the EU GDPR), but not quite sure the ethics principles document in the current form is the right place for portability considerations.

[2019-06-05 12:08] Michael-S commented on #5
I don't want to draw out the debate too long, but I think it's part of the ethical web for two reasons.  First, if you can get the complete set of data from a provider then you get a better idea of how detailed their user tracking data is.   Is it at the level of "we know you read articles on our site about classic cars" or at the level of "we know how fast you type, that you're left handed, and h

[2019-06-05 12:39] dbaron commented on #5
I don't see the first of those points as a part of user data portability, and I suspect many others also would not.  That is, if a site offers to export a user's data, and a user gets all the data that they know/expect the site has about them, I think many would see that as a successful data export, even if the site had other tracking data on them.  That is, I think user ability to understand trac

[2019-06-05 13:04] dbaron commented on #7
I think relatively straightforward answers are no, yes, and no.  I think it's generally possible for a particular technical decision to have either a small or large effect on something related to one of the principles.  I realize that doesn't provide a lot of guidance to spec authors and editors, though.  But in general I think the relevant tradeoffs around a decision should be considered.

[2019-06-05 13:33] Michael-S commented on #5
I would consider tracking data as a portion of the user's data.  I may not want to import it into another service, but the information they collect about me for advertising purposes should be just as much my data to own as the kitten videos I upload.

[2019-06-06 13:00] brewerj opened #10 "Broaden accessibility reference"
The current statement about accessibility is very limited: "We must make our websites accessible for people with disabilities." This should be broadened to better reflect what's needed for an accessible web, as well as the breadth of the accessibility work at W3C. People with disabilities not only need accessibility in websites, we need accessibility in any content and apps, in tools that create c

[2019-06-13 09:53] mrchrisadams opened #11 "Feedback on principle 9 - sustainable web"
Hi there!

Thanks for making these principles - it's really cool to see someone talking about a sustainable web here, and it was awesome being able to refer to these at the recent JSConf

I have a question about [principle 9](https://github.com/w3ctag/ethical-web-principles/blob/gh-pages/index.html#L134):

I understand this to be about device consumption more than anything else, and all the resear

[2019-06-14 07:45] lknik commented on #10
Can we come up with a single (or two) descriptive words to catch it all?
I worry that if we choose to list a lot of different elements we might still omit some and that will make an even stronger (than now) impression of exclusion.

I'm all for specific and comprehensive approach here, like with security/privacy for features.

[2019-06-17 01:43] alice commented on #11
Hm, I thought it was more about using technologies like blockchain (and Bitcoin in particular) which have the potential to require massive amounts of power to operate. (I see there is now a business renting entire hydro-electric power stations to mine Bitcoins: https://www.hydrominer.org/h2o/)

I agree, it could use some clarification, and I like the wording around emissions.

[2019-06-18 06:33] ghost opened #12 "Who is "we"?"
"As we continue to evolve the web platform..." but "we" is not defined or described.

[2019-06-20 14:50] torgo opened #13 "Relevant work links?"
Should we have links to relevant work listed after each principle or in an appendex to reinforce the point that each one of the principles is backed up by technical work going on somewhere... e.g. credible web, privacy & security, WAI, I18N, etc...

[2019-06-20 14:54] torgo opened #14 "Update status to make clear this is a living finding?"
Should we update the status to make clear this document will continue to evolve?

[2019-06-20 15:14] torgo commented on #8
@hadleybeeman & I discussed and we feel that while this may be a good design principle it's not strictly an ethical principle in itself. Maybe this discussion belongs in the https://github.com/w3ctag/design-principles document?  Or maybe we need a separate finding covering this topic?

[2019-06-20 15:20] torgo commented on #14
...also to make it clear(er) that this document is the start of a body of work, or is intended to influence future work.

[2019-06-20 15:21] hadleybeeman commented on #7
It sounds like this issue is more about how the doc is used than what is in its content.

Inevitably, these principles will be weighted differently in each context where they are used. And that's a good thing... We are representing our experiences and discussions to date, not making the authoritative decision tree for how to make an ethics decision when writing a new spec.

My suggestion would be

[2019-06-20 15:25] torgo commented on #6
Maybe this needs to be some additional sentetnce or sentences under "enhance individuals' control and power" that explain why decentralization is a key enabler there?

[2019-06-20 15:28] hadleybeeman commented on #6
I agree that.. I think decentralisation is valuable not for its own sake, but for the amount to which it empowers individuals over large organisations with a lot of resources. If we have a proposed new feature for the web that means that only a team of 500 developers could build a website, that disadvantages the individual web developer who used to be able to build a website by themselves.

So I t

[2019-06-20 15:36] torgo commented on #10
In some disucussion with @hadleybeeman today on this. Because we want to keep this high level our suggestion is to change the wording slightly. Instead of "websites" how about using a more broad term like "We must ensure that everything we write and build for web platform is acccessible for people with disabilities." (with some additional reference links showing where this work is taking place).

[2019-06-20 15:49] hadleybeeman commented on #5
@torgo and I have just discussed this, and it's a tricky one. On the one hand, we see what you mean, that it can be empowering to users to understand how their data is being used (like by advertising trackers) and to be able to take their data elsewhere (like from one photo sharing site to another). At the most extreme, some users want to build their own CMSs, or content-sharing platforms, like th

[2019-06-20 15:54] hadleybeeman commented on #4
YES! Yes it should. Thanks for flagging. We need to find a way to fix this.

I'll admit, I'm struggling with the vocabulary here. I definitely agree that "multi-browser is not the same as saying multi-agent"... and "multi-agent" or "client" is _accurate_, but I'm concerned that it doesn't sound descriptive enough.  We're trying to write for a broad technical audience here, not just spec authors fr

[2019-06-20 15:59] torgo commented on #12
We see that there is ambiguity but we're trying to keep the into as plain english as possible and we're concerned that being too prescriptive might distract from the points we're trying to make...

[2019-06-20 16:18] lknik commented on #12
I don't see a problem with "we", though I might have a bit of academic skew ;)

[2019-06-20 16:23] danbri commented on #4
There's a larger issue here, replacing "web of data" with "web content, services and platforms" in Rob's question. How far beyond "web platform standards" does TAG seek for this document  to have impact and relevance? Reading the document I get mixed messages.

The core focus seems to be "the Web as a technology stack" aka "web platform" with a strong browser-oriented emphasis, but in various plac

[2019-06-20 16:23] lknik commented on #13
That would make a document more complex, and picking examples would be challenging because how to represent very high level principles, with references, to avoid pointing out that this principle is reduced to what the references represent?

[2019-06-20 17:27] azaroth42 commented on #4
@danbri wrote:

Yes! This! Thank you Dan :) I implied two completely separate "webs", documents vs data, but what I meant to be saying was that the focus on browsers to the exclusion of other consumers of content provided via web technologies unintentionally created an artificial dichotomy that is not there in reality.

And I agree with this as well, in conjunction with the principles. As with all

[2019-06-20 17:35] masinter commented on #4
For such a document published by the W3C TAG, the scope should cover technology in scope for the TAG. The scope of the TAG includes both technology published by W3C, as well as (through the TAG liaison function) that of other organizations (IETF, ECMA, ICANN, etc) whose specifications are normatively referenced.

I don't think it makes a lot of sense for this document to cover things not in scope

[2019-06-20 17:41] Michael-S commented on #5
I'm a federated social web and indieweb fan, so this feature is desirable to me.   And I think complete, legally mandated access to the complete and often staggering amount of data a vendor collects about each user will encourage more users towards the federated social web and indieweb.

On the other hand, I accept the possibility that adding this requirement to the ethical web principles will pre

[2019-06-20 17:56] twifkak commented on #7
@hadleybeeman Yeah, I think leaving it up to individual interpretation is a reasonable approach (at least until further experience helps discover some commonality between the case-by-case decisions).

I think the only thing in the document that counters that interpretation is that some of the statements are phrased as absolutes. Just a few examples:

 - we will build them to cross regional and nat

[2019-06-20 18:32] danbri commented on #13
Most of the document is concerned about the content of standards, and does not talk explicitly about the human processes by which Web standards are made. There are two relevant links which ought to be included, which do address the process aspect:

* https://www.w3.org/Consortium/cepc/  Code of Ethics and Professional Conduct /cc @koalie
* https://www.w3.org/2019/Process-20190301/ W3C Process Docu

[2019-06-20 19:18] masinter commented on #7
Is there a good reason not to use RFC 2119 / BCP 14 keywords and choose
between **should** and **must**?
3. SHOULD   This word, or the adjective "RECOMMENDED", mean that there
   may exist valid reasons in particular circumstances to ignore a
   particular item, but the full implications must be understood and
   carefully weighed before choosing a different course.

[2019-06-20 21:20] jyasskin commented on #6
Another aspect of this might be that it matters which aspects of the web are being decentralized. Decentralizing the most-powerful entities on the web (probably the search engines and social networks today) is probably beneficial. Decentralizing the next tier removes a possible [countervailing power](https://www.vox.com/policy-and-politics/2019/5/17/18626801/2020-democrats-sanders-warren-buttigieg

[2019-06-22 03:04] masinter commented on #6
decentralization helps with reducing single-points-of-failure, where you include organizational failure in the considerations (e.g., failure of trust or maintenance of service or data.)  The big "monopoly" services are dangerous because they are too big to fail or even be restrained.
The only countervailing force outside of (ineffective) regulation is the focus on independent interoperable impleme

[2019-06-25 17:32] koalie commented on #13
The "evergreen" link for the Process is https://www.w3.org/Consortium/Process/ (and you already have the "evergreen" link for CEPC).

[2019-06-26 12:19] alice commented on #10
On further thought, I think @torgo's rewording misses some of @brewerj's original point, regarding the inclusion of people with disabilities in all web-related activities rather than just as users.

How about this as a basis for a more general rephrasing?

"The web platform and the tools used to create it must be accessible to people with disabilities. This encompasses the spec creation process, u

[2019-08-15 16:42] hadleybeeman commented on #10
@alice and @brewerj: @torgo  and I are looking at this again.  Trying to simplify the language a little, would this meet your needs?

"The web platform and the tools we use to create it must be accessible to people with disabilities. They should be able to meaningfully participate in the creation of specs, user agents, content and the end user experience."

[2019-08-15 16:58] torgo commented on #7
Just discussing with @hadleybeeman today. We see where you're coming from. However, we think that the use of e.g. SHOULD in place of the informal "will" waters down what we are trying to achieve here. In the end, this is not a spec. It's more like a "manifesto" style document in that it is a set of affirmative statements. The documents that this list will inform the content of will have to conform

[2019-08-15 17:00] #12 closed, assigned to nobody

[2019-08-15 17:11] hadleybeeman commented on #4
We're coming back to this, and @torgo and I are really grateful for your comments here. This is helpful indeed!

If all are content, we propose to replace this paragraph in the introduction:

...with this paragraph, slightly modified from @azaroth42's wording for simplicity:

[2019-08-15 17:19] azaroth42 commented on #4
Looks great, thank you so much for the engagement with this :)

[2019-08-15 17:56] twifkak commented on #7
Yup, I totally appreciate that this is to have emotional appeal, and that precision of language is a secondary priority to that. My general fear is imprecise language being used inconsistently in order to effect hidden agendas. But understood that this is a trade-off of risks. I trust y'all to make the right call; just wanted to make sure it got some thought.

[2019-08-16 06:38] alice commented on #10
Slight edit for clarity:

"The web platform and the tools we use to create it must be accessible to people with disabilities. They should be able to meaningfully participate in the creation of specs, user agents and content, and the platform should enable a fully accessible end user experience."

[2019-09-11 00:38] torgo commented on #5
Just picking this up at our Tokyo f2f where we are planning to publish an update. We don't want to close this issue off however, as indicated above, we'd like some more time to consider how to work this into the document before adding it. We will keep this issue open and consider this for a future update. To be clear, we're not optimising for business endorsement.

[2019-09-11 00:57] hadleybeeman commented on #7
Thanks for your careful thought and effort here, @twifkak. We appreciate you trying to help us make this better!

[2019-09-11 00:57] #7 closed, assigned to hadleybeeman

[2019-09-11 00:58] torgo commented on #8
We're going to close this as we are tidying up to issue an update.

[2019-09-11 00:58] #8 closed, assigned to torgo

[2019-09-11 01:24] hadleybeeman commented on #4
[Pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) with suggested edits. Thanks for everyone's help with this!

[2019-09-11 01:24] hadleybeeman commented on #6
[Pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) with suggested edits. Thanks for everyone's help with this!

[2019-09-11 01:24] hadleybeeman commented on #10
[Pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) with suggested edits. Thanks for everyone's help with this!

[2019-09-11 01:24] hadleybeeman commented on #11
[Pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) with suggested edits. Thanks for everyone's help with this!

[2019-09-11 01:25] hadleybeeman commented on #13
[Pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) with suggested edits. Thanks to each of you for your help with this!

[2019-09-12 00:47] hober commented on #4
I think this sentence is overly broad. Specifically, the third category seems like it describes all software. For example, Microsoft Word “performs some activity on behalf of a user given more structured data as content” every time you use it to edit a Word document, but surely that is out of scope here.

[2019-09-12 01:46] danbri commented on #4
@hober 's point goes to the heart of my discomfort with the document's positioning.

As we discussed earlier, we have both an expansive sense of "the Web" as a distributed information system in which arbitrary parties access information in arbitrary formats (pdf, Flash, whatever) over a variety of protocols (even .doc files via ftp:// and gopher:// are still on the Web in the expansive sense).  Bu

[2019-09-12 04:42] masinter commented on #6
https://open-stand.org/  has a definition of "open" and linked to benefits.
And W3C seems to be listed as an organization supporting its principles.

[2019-09-12 05:04] dbaron commented on #6
So I think I support what you're asking for about decentralization, but I'm also a little hesitant to use the term decentralization in this context because I think some people tend to use it in a different way.  For example, I see some people complain about the centralization of DNS, whereas I think DNS, while centralized, is one of the things that allows anybody who wishes to do so to register a

[2019-09-16 03:15] danbri opened #16 "Individual principles ought to be easier to link to"
I am sat in a DID WG meeting at TPAC2019. Blockchain is mentioned every few minutes.

It would be good if documents such as https://www.w3.org/2019/09/did-wg-charter.html could link directly to express commitment to the principles listed here: each principle should show up in the (respec?) table of contents, have a nice # URI reference, etc.

At least on mobile, I can't see how I could link direct

[2019-09-16 03:26] hadleybeeman opened #17 "Draw out the openness of specs"
There are ethical as well as legal motivations for us publishing all our specs.

If anyone is able to implement them -- either by publishing a website or data, or something that can consume them -- then the rules for making that work must be publicly visible on the web. (And legal to implement.)

We should make this explicit in the doc.

[2019-09-17 08:57] brewerj commented on #10
Thanks for the additional work on the accessibility language, which I think now works better for a high-level approach on ethical web principles. Two comments:

* while "web platform and the tools we use to create it" is clearly more comprehensive than the original focus on web content alone (thanks), I'm wondering how clear it would be to the intended audience that this also includes content on t

[2019-09-18 04:55] pes10k opened #18 ""Web Openness" / "View-source ability" as part of the Design Reviews"
One of the ethical web principals is that the web should be "view source" able.  This aught to be a criteria for design reviews.

i.e. if a new spec moves logic from the client to the server (e.g. client hints moving "what image should i load" logic from `<picture>` to client-server interaction), and makes it harder for users and researchers to audit applications, that should a relevant, strongly-

[2019-09-19 05:22] masinter commented on #17
There are policy choices about whether specs should be freely available, or support "view source" but the link to ethical concerns isn't direct. If you want to make reference to openness, you might want to cite OpenStand (https://open-stand.org, to which W3C is on record as supporting) but draw out more clearly the circumstances under which not following those policies would be considered unethica

[2019-09-23 22:49] hober commented on #18
We tried to capture this in principle 10, "The web is transparent," but if that wasn't clear to you, perhaps it won't be clear to other readers as well. Could you take a look at the existing wording of that principle & suggest improvements?

[2019-09-23 22:51] pes10k commented on #18
@hober I think the principal captures it perfectly!  Is this part of TAG review though?  For example, would TAG review turn down something like client-hints for violating principal 10?

In other words, the document is what put the idea in my head in the first place :) this issue / request is just to understand better if / how / when its applied in TAG review

[2019-09-25 21:01] hober commented on #18
Yes. All TAG findings can/do/should feed into the thinking we put into design reviews. This particular finding is pretty new; I expect you'll see more citations of it in our design reviews going forward.

I don't think I understand this question. The TAG does sometimes decline to review things. For instance, sometimes we choose not to review something because the thing in question is extremely ear

[2019-09-25 21:02] pes10k commented on #18
Sorry, i worded poorly.  I mean, using the example of client-hints, would TAG find the spec unsuitable / in need of change, because it seems to violate principal 10

[2019-09-25 21:14] hober commented on #18
I don't know; IIRC the Client Hints review predates my time on the TAG.

That said, is "Yes. All TAG findings can/do/should feed into the thinking we put into design reviews." a satisfactory answer to the original question? I'd like to resolve this issue if possible. If you'd like, you could separately raise a design review request on Client Hints.

[2019-09-25 21:16] pes10k commented on #18
yep, all good and resolved.  thanks!

[2019-09-25 21:17] #18 closed, assigned to nobody

[2019-10-17 16:32] torgo commented on #6
@dbaron Hadley and I are discussing and we still feel the wording is OK. It talks about "favoring" distributed architectures vs. central points of control but doesn't call for replacement of lower-level architectural elements (e.g. DNS). Would you be OK with keeping the wording or have you had any thoughts about a more palatable alternative?

[2019-10-17 17:49] twifkak commented on #6
@torgo I don't see the wording you're referring to. Are you talking about the `Tokyo-edits` branch? I see this:

Is the plan to merge that into `gh-pages`?

[2019-12-03 22:42] hadleybeeman commented on #16
Good point -- we're on this now. Thanks!

[2019-12-03 22:59] hadleybeeman commented on #4
Thanks, @danbri. You very much are in the intended audience, so we appreciate your thoughts.

You're right that the text in this document is aspriational -- but that's the point of it. We're trying to improve the work within the W3C community, and its ability to mediate against some of those challenges.

You're right that the web does facilitate bullying, bribery, propaganda, hate-mongering, etc.

[2019-12-03 23:52] hadleybeeman commented on #4
@hober: Good point with this:

We propose changing that to:

As per the [Data on the Web best practices](https://www.w3.org/TR/dwbp/#context), this should include data:  "a resource may be a whole dataset or a specific item of given dataset."

Would that work for all of you?

[2019-12-03 23:55] hadleybeeman commented on #14
We've covered this in the [pull request from Tokyo](https://github.com/w3ctag/ethical-web-principles/pull/15/files) (which we are still working on in our f2f in Cupertino).

[2019-12-04 00:19] hadleybeeman commented on #10
Thanks, @brewerj! We have looked at both your points, and have [amended the pull request](https://github.com/w3ctag/ethical-web-principles/pull/15).

We did not intend for people with disabilities to be treated like an "other", so thank you for flagging that. That's a very important point. We've altered the wording to emphasise that we are all in this together.

On your first point, @torgo and I t

[2019-12-04 00:31] hober commented on #4
@hadleybeeman Yes, I think that works for me.

[2019-12-04 18:17] #11 closed, assigned to nobody

[2019-12-04 18:20] hadleybeeman commented on #17
Addressed in [pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) and merged at [TAG Cupertino face-to-face](https://github.com/w3ctag/meetings/blob/gh-pages/2019/12-cupertino/README.md).

[2019-12-04 18:20] #17 closed, assigned to nobody

[2019-12-04 18:21] hadleybeeman commented on #16
Addressed in [pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) and merged at [TAG Cupertino face-to-face](https://github.com/w3ctag/meetings/blob/gh-pages/2019/12-cupertino/README.md).

[2019-12-04 18:21] #16 closed, assigned to hadleybeeman

[2019-12-04 18:22] #14 closed, assigned to nobody

[2019-12-04 18:23] hadleybeeman commented on #10
Addressed in [pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) and merged at [TAG Cupertino face-to-face](https://github.com/w3ctag/meetings/blob/gh-pages/2019/12-cupertino/README.md).

[2019-12-04 18:23] #10 closed, assigned to torgo

[2019-12-04 18:23] hadleybeeman commented on #6
Addressed in [pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) and merged at [TAG Cupertino face-to-face](https://github.com/w3ctag/meetings/blob/gh-pages/2019/12-cupertino/README.md).

[2019-12-04 18:23] #6 closed, assigned to torgo, hadleybeeman

[2019-12-04 18:24] hadleybeeman commented on #4
Addressed in [pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) and merged at [TAG Cupertino face-to-face](https://github.com/w3ctag/meetings/blob/gh-pages/2019/12-cupertino/README.md).

[2019-12-04 18:24] #4 closed, assigned to hadleybeeman

[2019-12-04 18:26] hadleybeeman commented on #13
Addressed in [pull request](https://github.com/w3ctag/ethical-web-principles/pull/15) and merged at [TAG Cupertino face-to-face](https://github.com/w3ctag/meetings/blob/gh-pages/2019/12-cupertino/README.md).

[2019-12-04 18:26] #13 closed, assigned to nobody

[2019-12-04 18:50] hadleybeeman opened #19 "Back up each principle with references to previous TAG decisions/experiences"
This one came from @danbri.

The TAG's authority or usefulness comes from our experience, our understanding of what works and doesn't work well for the web. This document is drawn from that experience, but it doesn't explicitly reference the experiences or examples that have led us to each of the principles.

Should we find a way to add them in?

(@danbri, please do expand if I haven't done your t

[2019-12-10 21:32] hober opened #20 "Don't Erode Users' Trust in the Web"
@dbaron wrote, in [a comment](https://github.com/w3ctag/security-questionnaire/issues/48#issuecomment-495566652) on w3ctag/security-questionnaire#48:

[I think](https://twitter.com/hober/status/1134509819937906688) this is a sufficiently important insight that we should capture it somewhere, either in our Design Principles (w3ctag/design-principles#146), here in our Ethical Web Principles finding

[2020-03-06 20:40] tantek opened #25 "Proposed Ethical Web Principle: Avoid enabling and amplifying dark patterns"
The [W3C TAG Ethical Web Principles](https://www.w3.org/2001/tag/doc/ethical-web-principles/) mentions [enhancing individual control and power](https://www.w3.org/2001/tag/doc/ethical-web-principles/#control) and recognizes a few misbehaviors, yet focuses on decentralization, minimizing single points of failure, and enabling individual &amp; DIY developers. All of that is good, however there is th

[2020-03-09 01:04] alice commented on #25
Could you give some examples of API design which explicitly encourages or mitigates against one or more of these patterns?

[2020-05-04 16:40] hober commented on #20
Closed in favor of w3ctag/design-principles#146.

[2020-05-04 16:40] #20 closed, assigned to nobody

[2020-07-21 15:51] hober opened #26 "Draft Finding doesn't link to latest published Finding"
The [Draft Finding](https://w3ctag.github.io/ethical-web-principles/) doesn't link to the [most recently published Finding](https://www.w3.org/2001/tag/doc/ethical-web-principles/).

[2020-09-23 15:07] torgo commented on #19
One example that we discussed in this week's f2f: we could reference the [STRINT workshop ](https://www.w3.org/2014/strint/)report as underpinning the statement about state surveillance.

[2020-09-23 15:13] hadleybeeman commented on #19
We'd like to use this issue to collect more examples from our community, that explain why we know each principle matters. This is open to suggestions from anyone — comment in this issue.

[2020-09-24 08:49] torgo commented on #19
https://www.internetsociety.org/policybriefs/

[2020-09-24 08:50] torgo commented on #19
https://www.internetsociety.org/policybriefs/privacy/ <- privacy & freedom of expression

[2020-09-24 08:51] torgo commented on #19
https://www.rfc-editor.org/rfc/rfc8890.html

[2020-09-24 08:53] torgo commented on #19
STRINT workshop output https://www.w3.org/2014/strint/

[2021-01-27 08:14] hadleybeeman commented on #19
The attempts to mandate real names for social media accounts, and the potential impact on vulnerable individuals.

[2021-01-27 15:23] LeaVerou opened #33 "[Editorial] Number principles so they can be individually referenced"
Currently all principles are [in the same section](https://w3ctag.github.io/ethical-web-principles/#principles), in an unnumbered list. This makes it harder to refer to individual principles (E.g. "This violates Ethical Web Principle 5.6") and makes the table of contents less useful as an outline of the document.

I propose numbering them and perhaps breaking them into sections, just like the [Web

[2021-01-27 21:07] rhiaro opened #34 "Consider deprecating the term "user""
Some consider the term "user" in tech to be dehumanising or exploitative. Should we replace "user" in this document with "people"?

Eg. See discussion on [this recent thread](https://web.archive.org/web/20210127210340/https://mastodon.ar.al/@aral/105621003871668287).

Consider:

* is this a meaningful language change, or just ethics-washing?
* is "people" too ambiguous? What is a better alternativ

[2021-02-03 20:40] torgo opened #35 "[Editorial] Change principles to subsections"
Change the principles to subsections to facilitate a better ToC and readability.

[2021-02-03 20:41] torgo commented on #35
dup of #33

[2021-02-03 20:41] #35 closed, assigned to torgo

[2021-02-04 12:43] sebilasse opened #36 "The acronym TAG"
The acronym TAG is not explained anywhere.
Please write it out in 1 place as The W3C Technical Architecture Group

[2021-03-02 08:49] rhiaro opened #37 "Relationship with Design Principles"
Note link with Design Principles as the practical "how to" on top of the Ethical Web Principles, but also note that not all EWPs translate directly to API design issues, as there are other parts of the Web platform to consider as well.

[2021-03-02 08:56] #36 closed, assigned to rhiaro

[2021-03-08 21:49] rhiaro commented on #26
This is because [respec doesn't link the latest version for 'no track' documents](https://github.com/w3c/respec/blob/develop/src/w3c/templates/headers.js#L143), and [`draft-finding` is a 'no track' document](https://github.com/w3c/respec/blob/develop/src/w3c/headers.js#L184).

[2021-03-16 09:04] hadleybeeman opened #38 "The role of the user agent, to serve the user first"
We should spell out that the user agent's function is to serve the user, rather than other constituencies.

We could do this by invoking the priority of constituencies?

As discussed in [meeting minutes](https://github.com/w3ctag/meetings/blob/gh-pages/2021/telcons/03-15-agenda.md), it seems like it makes sense to put this under [The web must enhance individuals' control and power](https://w3ctag.

[2021-03-18 02:23] mnot commented on #5
To me, this highlights a pretty fundamental schism in the community, and I think the TAG has discussed it before.

Data *formats* allow people to see, manipulate and reuse their data as they wish. Data *APIs* put control in the hands of those who serve the API -- typically, not the user.

The Web has veered steadily towards APIs in the last ~decade, and away from establishing common formats (work

[2021-03-18 02:31] mnot commented on #25
'The web must enhance individuals' control and power' addresses this somewhat, but then conflates it with centralisation-related issues.

I'd suggest that that item be broken into two -- one about dark patterns, and one about centralisation.

[2021-04-13 21:54] hober opened #39 "The Draft Finding should link to the latest published Finding"

[2021-05-13 06:57] hadleybeeman commented on #38
Addressed in PR: https://github.com/w3ctag/ethical-web-principles/pull/32

[2021-05-13 06:57] rhiaro commented on #39
Duplicate of https://github.com/w3ctag/ethical-web-principles/issues/26

[2021-05-13 06:57] #39 closed, assigned to nobody

[2021-05-13 07:14] torgo commented on #34
We discussed adding a brief glossary. We discussed changing some instances of the _word_ user to _people_.

[2021-05-18 18:16] hober commented on #26
Ahhh, okay. Filed w3c/respec#3541. Hopefully they'll fix this soon.

[2021-05-21 00:24] marcoscaceres commented on #26
Thanks @rhiaro for doing the ReSpec code archeology. I'll get that fixed up soon.

[2021-05-21 07:47] LeaVerou commented on #26
This is a small document, how much work would it be to switch it to Bikeshed? We already use Bikeshed for our Design Principles.

[2021-05-21 20:20] hober commented on #26
I think the editors should use whichever tools they prefer.

[2021-05-22 11:23] LeaVerou commented on #26
Of course. Nobody said otherwise, I think? 🤔

[2021-05-24 03:03] marcoscaceres commented on #26
@LeaVerou, I sent https://github.com/w3ctag/ethical-web-principles/pull/41 to clean up the markup/markdown usage. BikeShed and ReSpec use almost identical syntax and do the same thing, so not sure what advantage there is to switching?

[2021-05-24 16:20] hadleybeeman opened #42 "The danger of prioritising algorithmic relevance over human needs"
This came from a TAG breakout conversation between me, @plinss, @hober, @atanassov and @LeaVerou. We started by talking about when [Facebook Memories feature evoked traumatic and painful memories](http://meyerweb.com/eric/thoughts/2014/12/24/inadvertent-algorithmic-cruelty/), and moved on to when [Twitter's algorithm cropped out faces with darker skin](https://www.theguardian.com/technology/2020/s

[2021-05-25 00:51] masinter commented on #42
ML is based on the assumption that past behavior is the best predictor of future behavior when optimizing for an evaluation function. The evaluation optimization is often based on immediate benefit such as stikiness, click-thrus vs. long-term benefit of goodwill, reputation.  As long as most of the value is targeted advertising, follow the money. It might be "accurate" but short-sighted.

[2021-06-08 19:16] masinter commented on #25
I thought the considerations raised by Eliot Lear in https://mailarchive.ietf.org/arch/msg/ietf/k99uQa0Eyi3sueznaw9D7XChzF0/#
 might find his issue 2 as a better formulation than "dark" (as compared to "light").

[2021-06-28 19:59] jyasskin opened #44 "Say something about resisting interpersonal abuse"
The principles currently address governments surveilling their populations, but I don't see anything that covers employers, intimate partners, parents who oppose their child's identity or health care, etc. This is relevant to https://github.com/w3ctag/design-reviews/issues/606, but I think broader than just the case of managed devices.

Web API design won't always be able to improve the situation,

[2021-08-03 08:33] torgo commented on #25
We discussed today. @rhiaro will work on some text on dark patterns for the intro. @mnot I don't agree that we are conflating two unrelated topics in "control and power." We're trying to make a statement that decentralised systems play a role in balancing individuals' control and power with that of large entities...? Should we try to make that more clear?

[2021-08-03 08:37] hadleybeeman commented on #37
Related to https://github.com/w3ctag/design-principles/pull/327

[2021-08-03 08:50] torgo commented on #37
So we still need links from EWP to design principles.

[2021-08-03 08:54] hadleybeeman commented on #38
PR: https://github.com/w3ctag/ethical-web-principles/pull/32
Closing this

[2021-08-03 08:54] #38 closed, assigned to nobody

[2021-08-03 08:57] torgo commented on #42
I'll make a go at seeing what we could write about this in the context of the current principles.... Suggestion from @rhiaro that we could mention this in the intro section maybe?

[2021-08-03 09:00] torgo commented on #44
We discussed today about adding some text to EWP to reflect this. @hadleybeeman will work on writing something.

[2021-08-04 00:32] mnot commented on #25
@torgo decentralisation is indeed about balancing individuals' control and power with that of large entities. I'm saying that it's worthy of separating that point from a discussion of dark patterns, because the latter aren't sensitive to the size of the entity abusing the user -- small web sites can use dark patterns too.

[2021-09-02 23:54] jyasskin opened #45 "Publish a built form of the principles"
Right now, https://w3ctag.github.io/ethical-web-principles/ is a raw Respec document that gets compiled each time someone loads it. You could use the [spec-prod](https://w3c.github.io/spec-prod/) Github Action to publish a pre-built version instead.

[2021-09-14 07:55] torgo commented on #34
To clarify, we agreed to use "person" and "people" where possible but that there was still value to using the word user in some instances such as when we talk about "user needs" which is a core concept that underlies the Design Principles. In  general we should not be refering to "users" in the abstract unless qualified - e.g. "web users" or "device users".

[2021-09-14 08:12] #34 closed, assigned to rhiaro

[2021-09-14 08:31] torgo commented on #45
Sounds good. @ylafon can you put this in place?

[2021-09-14 08:36] torgo commented on #26
This looks to be fixed.

[2021-09-14 08:36] #26 closed, assigned to nobody

[2021-09-17 14:21] marcoscaceres commented on #45
Let me if you need a hand with this too. Happy to help if you have any issues.

[2021-09-28 12:10] torgo opened #51 "Less Hedging & Add Subheadings"
Feedback from: @oluoluoxenfree

https://twitter.com/oluoluoxenfree/status/1442811890212737024

<img width="535" alt="image" src="https://user-images.githubusercontent.com/287526/135084003-d20ed1c8-b0c0-4b0c-b208-2dd5b752d36b.png">

We should do a pass-through to strengthen the language (and consider subheads).

[2021-09-28 21:08] csuwildcat opened #52 "New principle: advancement of Digital Human Rights should be the apex principle of the Web platform"
With society relying more and more on digital interactions for work, personal, and community life, many digital activities have come to underpin a de facto set of digital human rights, which include: the ability for people to maintain identifiers that cannot be feasibly taken from them (unlike the identifiers of today, which are leased by companies and centralized entities), the ability of disside

[2021-09-29 16:50] rhiaro commented on #51
Subheads added in https://github.com/w3ctag/ethical-web-principles/pull/49

[2021-09-29 18:08] hober commented on #52
Moving this issue over to the Ethical Web Principles document, since it seems to be about that.

[2021-09-29 19:24] dbaron commented on #52
My reading of your position is that you're arguing that Web technology should be constructed to establish (through technology) rights that cannot be revoked by governments and their legal processes.  I think such an approach to rights means that law is then no longer a mechanism for the defense of those rights; defense of one's rights becomes a matter of technological skill (for example, skill at

[2021-09-29 20:02] csuwildcat commented on #52
A lot of strange assumptions I see in this reply:

1. I do believe that technology, especially the Web platform, should support human rights, which are implicitly defined by being a human, not a citizen of a given government (e.g. governments have passed bad laws that attack all sorts of human rights, but that doesn't mean the Web should not hold itself to a higher standard).
2. I do believe that

[2021-09-29 20:45] masinter commented on #52
@csuwildcat
Could you perhaps say a bit more about what you mean by "most important". W3C is a fundamentally technical forum,
W3C isn't really in a position to declare one set of rights "more important" than another.

https://github.com/w3ctag/ethical-web-principles/blob/gh-pages/README.md

has the Abstract:

A set of principles (engineering, safety, regulatory, ethical) should ALL be considered i

[2021-09-29 21:50] OR13 commented on #52
I agree with @masinter ... not sure that one set of principles are more important than another... all should be considered, but I suspect pretty low chance of unanimous agreement on applying an order to the set.

Lets look at some examples:

#### FLoC

- [eff.org/deeplinks/2021/03/googles-floc-terrible-idea](https://www.eff.org/deeplinks/2021/03/googles-floc-terrible-idea)

Which is more important

[2021-09-29 22:10] bumblefudge commented on #52
Yup, +1 to @masinter and I fear the expertise of the average participant in this process might be too far afield of ethics and governance to make a document prioritizing or even high-level describing the calculus at play, even if I support efforts to define digital and informational rights as a framework for international law and, particularly, anti-trust enforcement and tech regulations.  Might j

[2021-09-29 23:02] csuwildcat commented on #52
@bumblefudge I do agree with you, @OR13, and @masinter that the vast majority of these principles are highly subjective and can be interpreted/weighted in dramatically different ways depending on who is reading them, or straining to read into them (as is the case in recent events). As a result, this document and its contents are clearly inappropriate for use as a tool one would invoke, be it with

[2021-09-29 23:18] OR13 commented on #42
This seems like a good place to leave this:

[Dead Internet Theory, The Internet Is Empty | Esoteric Internet](https://www.youtube.com/watch?v=BEIZHlfjAT8)

The pro/con of knowledge / information tooling is that it shapes learning and behavior in humans...

Most folks tend not to like the idea of being convinced to vote for a politician or buy a product, but they will happily subscribe to a conten

[2021-09-29 23:21] OR13 commented on #44
This is a really important issue.

[facebook-reportedly-fired-52-workers-who-were-caught-spying-on-women...](https://nypost.com/2021/07/13/facebook-reportedly-fired-52-workers-who-were-caught-spying-on-women/).

[nsa-staff-used-spy-tools-on-spouses-ex-lovers...](https://www.reuters.com/article/us-usa-surveillance-watchdog/nsa-staff-used-spy-tools-on-spouses-ex-lovers-watchdog-idUSBRE98Q14G20130927

[2021-09-29 23:31] OR13 commented on #19
It would be nicer to anchor the principles to authority beyond TAG, for example, legal cases, constitutions or bills of rights.

IMO, TAG should be citing principles that have gained widespread adoption and acceptance internationally, not inventing principles and citing themselves.

- https://www.un.org/en/about-us/universal-declaration-of-human-rights
- https://www.wired.com/story/whats-digital-b

[2021-09-29 23:42] OR13 commented on #5
I suspect that ethical arguments about data portability as a fundamental right will not be consistent by region.

There are times when there is a legitimate national security, legal or financial interest in exploiting regional differences in legal rights...

- former Navy defense lawyer Charles Swift

- [irishtimes.com](https://www.irishtimes.com/business/technology/ireland-is-worst-bottleneck-for

[2021-09-29 23:56] louisnk commented on #52
Definitely a complex issue as all have pointed out.

As nearly all of the principles are about people already, it seems environmental and healthy communities are most likely to be coopted as weapons in thinly veiled attacks against human rights. Stating that the web should advance individuals' control and power, or privacy and security, does not sufficiently protect against these attacks on holist

[2021-09-30 01:20] dbaron commented on #52
Let me try to give an example to clarify what I meant:

Suppose that I (David) get a reliable and generally trusted authority to issue me a digital identity that says that I am Daniel.  Is it my human right to communicate using that identity and impersonate Daniel, and should Web technology be built so that my ability to continue to use that digital identity cannot be disrupted?  Or should Daniel

[2021-09-30 05:04] csuwildcat commented on #52
@dbaron you seem to have commingled a couple key concepts, so let's unpack:

Preface - your digital identity is composed of two main things: *identifiers* you use to be recognized (when you choose to be), and actual *identity data* about you that you generate, gather, or publish as you choose. Credentials are one type of identity data, as are your tweets, pictures of family, etc.

On to your use c

[2021-09-30 05:17] csuwildcat commented on #52
@dbaron honest inquiry: how did you come to be of the mind that, in terms of digital human rights use cases, folks here are arguing for a system where a Driver's License errantly issued to the identifier of a 5 year old somehow means it is irrevocable and the 5 year old is able to drive from here on, without intervention/recourse? Did you think credentials issued to an identifier were immutable, o

[2021-09-30 07:10] lknik commented on #52
Would it be possible to ground this in some more official document of a State or the UN? Just to know what this principle is based on. Human rights did not appear out of vacuum.

[2021-09-30 08:29] tobie commented on #52
I agree with @lknik here, it’s not super clear to me what we’re talking about when we’re discussing digital human rights. The UN has [ongoing work on this topic](https://www.un.org/techenvoy/content/digital-human-rights), but it seems little more than a roadmap at this point. Was that what you were referring to?

[2021-09-30 08:47] tobie commented on #44
Yes. This is a particularly important issue because it falls outside of the boundaries of common security practices which generally consider additional mitigation approaches as moot on compromised machines. A lot of common behavior between spouses (or other related intrapersonal relationships) create situations that fall under this category: shared computers, shared browsers, shared passwords, etc

[2021-09-30 08:47] lknik commented on #52
And if you want to include China's take, here's [some new document](http://www.cac.gov.cn/2021-09/29/c_1634507915623047.htm) speaking about _"the adherence to the guidance of Xi Jinping’s Thoughts on Socialism" to "monitor against risks" and to "establish correct orientation of the algorithms" in order to  "promote the core values ​​of socialism, and adhere to the correct political direction" and

[2021-09-30 13:07] dbaron commented on #52
OK, sounds like I misunderstood some of the details.  But what if you steal my identifier (e.g., by taking the computer that it's stored on)?

[2021-09-30 14:33] rhiaro commented on #52
I'm concerned by the framing of human rights vs [other principle], in particular (as seems to be the heart of this) environmental sustainability. I'm seeing this presented as a tradeoff where "more human rights" means "less sustainable". Assuming the basis that we have a technology that has a uncontested positive impact on human rights, but consumes a lot of power (the giant server farms that powe

[2021-09-30 14:49] nshadowen314 commented on #44
If I can jump in, this addition is critical to any ethical framework of web principles. Safety for individuals, families, and society is a value that can sometimes seem at odds with traditional criteria of privacy/security, but is nonetheless a real and felt problem at some point in the lives of a majority of global web users. It is worth encouraging threat modeling to understand and build for the

[2021-09-30 15:32] csuwildcat commented on #52
It's certainly possible to lose your identifiers or have them stolen, but that doesn't mean people don't have a digital human right to a root of digital identity they own and control. To argue the opposite is like saying people don't have the right to own objects/property simply because objects/property can be lost or stolen.

This digital human right and the technology that enables it protect peo

[2021-09-30 16:10] OR13 commented on #52
@rhiaro

I am not sure this is true.

The web is federated, and censorship is rampant.

- [ow-google-took-on-china-and-lost](https://www.technologyreview.com/2018/12/19/138307/how-google-took-on-china-and-lost/)

Clearly, the interpretation of these principles does not lead to consistent improvement of human rights...

"Freedom of expression" and "Protecting against misinformation" are incompatibl

[2021-09-30 16:44] OR13 commented on #52
To be clear, I am not arguing for "1 principle is more important than all others..." I am arguing for a consistent mechanism for apply the principles, when they conflict with each other... which is the case for regional preferences for environment, social or ethical issues... not everyone wants to live in Sealand... or in US, or China.

- [Principality_of_Sealand](https://en.wikipedia.org/wiki/Pri

[2021-09-30 17:58] csuwildcat commented on #52
I'll again note that as a result of this conversation underscoring how fraught with subjectivity the definition, weighting, and empirical application of these principles are, they are not fit for use as a moralizing objection tool. My plan is to draft a PR that adds a sentence or two stating that the Principles are to be applied within the scope of an individual member's implementation and adoptio

[2021-09-30 21:41] marcoscaceres commented on #52
@csuwildcat, I’m just not sure that will help. A skilled debater or rhetorician can twist whatever is in the document to make their case or co-opt a position. Additionally, saying that members can interpret this however they like seems somewhat counterproductive.

Having said that, pointing to the UN’s declaration of human rights might give this some grounding.

[2021-09-30 21:56] hober commented on #52
@marcoscaceres wrote:

Yeah, the document should point there, and in fact already contains an xref we can use. #53 adds a `[[?UDHR]]` to the first mention of rights in the introduction. Personally, I think that PR would suffice to close this issue, but perhaps others disagree.

[2021-09-30 22:18] tobie commented on #52
Anchoring the text in the UNHR like you just did on #53, @hober, seems valuable.

I’m curious whether @csuwildcat was referring to UNHR or to the _digital_ human rights which, as I mentioned above, is a work in progress at the moment, but has some very concrete and very relevant requirements to web standardization. See a primer [here (PDF)](https://www.un.org/techenvoy/sites/www.un.org.techenvoy/f

[2021-10-01 14:54] LeaVerou commented on #25
Apparently "dark patterns" is considered inappropriate, as it associates color with malice. One politically correct term could be "manipulative design" [[1]](https://www.ccianet.org/wp-content/uploads/2021/06/2021-05-28-CCIA-Comments-on-FTC-Dark-Patterns-Workshop.pdf)

[2021-10-01 15:07] karger commented on #25
Although a problem with "manipulative design" is that all designs manipulate (user attention, for example).  The question is the whether the intent of the manipulation is to benefit or harm the user....

[2021-10-04 12:53] louisnk commented on #52
@rhiaro

I 100% agree that environmental destruction degrades human rights. That is the reason I wrote that *all* the principles coalesce to support digital human rights. Without a healthy environment, we fail article 3 of the UDHR: "Everyone has the right to life, liberty and security of person." This is just one of countless other failures, as I think we're all in agreement on.

This is also why

[2021-10-04 13:26] rhiaro commented on #52
We could also mention https://datatracker.ietf.org/doc/html/rfc8280 which is pretty comprehensive.

[2021-10-04 13:41] rhiaro commented on #52
I'm not sure if I understand right, but it sounds like you mean because the current status of the web is not perfect, it means the EWP are not valid. Unfortunately I don't think every part of the web has been built with the EWP in mind so far, particularly since the EWP was only published three years ago. The EWP are aspirational, rather than necessarily what exists in practice at the current time

[2021-10-04 14:21] OR13 commented on #52
What is the term for creating lots of laws and then selectively enforcing them?

I am not suggesting that it's possible to harmonize these principles in a way that would be appropriate for all regions.

My fear would be that EWP is setup as a guide, but then enforced selectively based on the preferences of vocal minorities or majorities... it becomes a tool to obstruct, not a guide for improvement

[2021-10-05 08:29] rhiaro opened #54 "Decentralization vs federation"
The EWP says:

Subsequent [discussion](https://github.com/w3ctag/ethical-web-principles/pull/48/files#r708320957) about whether "decentralized" is the right word, or if "federated" might be better. There are lots of nuances and varying definitions of both so it's not immediately obvious which we should use.

[2021-10-05 08:37] hadleybeeman commented on #51
Hi @oluoluoxenfree — thanks so much for this! We're looking at your suggestions in our TAG breakout meeting right now. As @torgo says, above, we should do a pass-through to strengthen the language.

Hoping to get a bit more specific: I see two instances of the terms 'more ethical' in [the document](https://w3ctag.github.io/ethical-web-principles/), both in the introduction. Do you find the entire

[2021-10-05 08:58] hadleybeeman commented on #44
Discussed in today's W3CTAG breakout. We looked at how this issue relates to our design review for the proposal of a [Managed Device Web API](https://github.com/w3ctag/design-reviews/issues/606).

[2021-10-05 09:04] oluoluoxenfree commented on #51
@hadleybeeman I find all uses of "more ethical" not specific enough.

I assume you went for "more ethical" to highlight that perfect ethics are not attainable and the ethics at current can be improved, but I think in both cases saying the assumed parts loudly is sufficient?

[2021-10-05 09:05] oluoluoxenfree commented on #51
I can go line by line, but I'm not sure how helpful that would be, re: other things I would change

[2021-10-05 09:28] rhiaro commented on #25
Thanks @LeaVerou for mentioning that, I've done another PR to replace "dark" with "harmful" (but kept the wikipedia link the same) after also reading [this](https://dscout.com/people-nerds/vidhika-bansal)

[2021-10-05 21:59] tantek commented on #25
tl;dr: prefer using phrase “manipulative design” instead of “harmful patterns” as a replacement for “dark patterns”.

Also adding thanks to @LeaVerou, and agreed with the reasoning in [https://www.ccianet.org/wp-content/uploads/2021/06/2021-05-28-CCIA-Comments-on-FTC-Dark-Patterns-Workshop.pdf](https://www.ccianet.org/wp-content/uploads/2021/06/2021-05-28-CCIA-Comments-on-FTC-Dark-Patterns-Worksho

[2021-10-06 09:22] LeaVerou commented on #25
But what about @karger's point wrt the term "manipulative design"? A lot of UX is about manipulation for a good cause, the problem here is manipulation for a harmful cause.

[2021-10-06 09:47] harrybr commented on #25
Hi folks

I suspect that my reply wont get sent back to the mailing list since I'm
not a member (feel free to repost my reply).

The term Dark Patterns was the title of a conference talk and had I known
it was going to get used widely I would have been more thoughtful about it.
It was intended to be a bit lighthearted and reference star wars and harry
potter (plus a passing reference to other popu

[2021-10-06 14:13] rhiaro commented on #25
in that case, neither is "dark" where dark was used as a [flawed] metaphor for "bad".

Since the text already says "manipulate and deceive people", what if i just change the bit wrapped in the wikipedia link to "patterns" and leave it at that? The paragraph would be:

We're not coining a term here, just trying to set some pointers for further reading. Does that work?

[2021-10-06 15:32] #25 closed, assigned to rhiaro

[2021-10-06 15:34] #33 closed, assigned to torgo, rhiaro

[2021-10-23 06:12] rxgrant commented on #54
Federation is pretty easy to capture.  I can't imagine why good engineers would settle for it when decentralization is possible.

[2021-10-23 06:16] rxgrant opened #56 "Conflicting principles leads to a political meltdown"
If new designs to old problems expose that good solutions to one principle are bad solutions to another principle, then reliance on principles will cause politics to hold sway over building solutions for people to communicate with one another.

[2021-10-23 07:48] rxgrant commented on #52
@dbaron

Then (in a well designed DID Method) you revoke.  Supporting revocation is a MUST in the specification.

This could be done by broadcasting a revocation certificate stored on waterproof and fireproof media in a moderately secure place, or by communicating (out-of-band, of course) with a quorum of your trusted associates who are acting as your recovery/revocation functionaries.

*edit*: Re

[2021-10-30 12:00] torgo commented on #56
Closing this as it doesn't provide any specific proposed change to the document.

[2021-10-30 12:00] #56 closed, assigned to nobody

[2021-11-02 09:55] hadleybeeman commented on #52
Hi folks – This has been a wide-ranging and interesting discussion, and we thank you for your thoughts.

As we're trying to focus our work on specific changes or additions, I'm going to close this. However if there are specific and actionable contributions to the document that people would like to make, then I encourage you to open up a new issue in this repo for the Ethical Web Principles Finding

[2021-11-02 09:55] #52 closed, assigned to nobody

[2021-11-05 11:54] torgo opened #57 "clarify status of document"
it's a finding but the status section still says "draft"

[2021-11-05 11:58] torgo opened #58 "is it a mission statement?"
The use of "we" brings to mind - is this a mission statement rather than (or in addition to) a set of ethical principles - and if so can we be  more specific about who the "we" is.

[2021-11-05 11:59] torgo opened #59 "Be more specific on stakeholders"
who are the stakeholders of this document and how does that list differ from the design principles?

[2021-11-05 12:17] torgo opened #60 "Strengthen transparency principle?"
Do we need to revise to make it clearer about transparency, inspectability, and the role inspection has in learning?

[2021-11-05 12:26] torgo opened #61 "Should we talk about interoperability vs "evolution-ability" as a tension / design goal for the web?"

[2021-11-13 00:16] tobie opened #62 "Acknowledge that principles can come in conflict with one another"
For example transparency (_"We will always make sure it is possible to determine how a web application was built and how the code works."_) can conflict with reducing the web's environmental footprint (shipping binary data would probably be more efficient), preventing the spread of misinformation may conflict with privacy, enabling users to render their content as they please may conflict with sec

[2021-11-13 00:25] tobie opened #63 "Offer a framework to handle conflicts between principles"
What happens when improving privacy increases your environment footprint or makes controlling the spread of disinformation more difficult?

Which principle should you favor and why?

Is there a priority of principles likes there is a priority of constituencies?

Can you make tradeoff and if so, based on what?

Can the TAG help and if so how do you get their help?

Building on #62, it would be grea

[2021-11-13 18:00] lknik commented on #62
Interesting problem. Indeed it is imaginable that certain principles will be in conflict with others. What then?

[2021-11-13 18:03] lknik commented on #63
Good questions. I'm wondering either about the priority or a possibility to balance the principles. There seem to be no easy solution here, other than mention the need of balancing. But how to balance, then? Who should do this? Won't this end in making the principles more legalistic (balancing is a typical legal approach)?

Also, good catch about the hypothesis of the potential privacy/encryption/

[2021-11-16 05:14] mnot commented on #62
Competing interests are often balanced in courts, the WTO, etc. One thing we should put some thought into is how to avoid the outcomes of balancing being considered arbitrary -- people need certainty. That might be through deeper documentation/exploration of the principles over time (as well already do e.g., for privacy). As the very high, abstract level the current principles are, this is going t

[2021-12-02 14:53] frabaghe opened #66 "Sustainability Principle is anticompetitive"
The specification of "new web technologies" in the Sustainability Principle is anticompetitive.

[This Op-Ed](https://bitcoinmagazine.com/culture/mozilla-vs-bitcoin) argues that the TAG Ethical Web Sustainability Principle is both anticompetitive and is being weaponized in a way that inadvertently undermines every other W3C ethical web principle.

Another complaint on the anticompetitive nature of

[2021-12-02 15:44] astearns commented on #66
I disagree with most of the comment above, and would like to make one point in particular

We mainly work on new technologies. Improving the principles we use to evaluate them is a good thing. Over time, we have applied greater emphasis on privacy considerations – new technologies have to pass more and better privacy checks than before. And this has led to better privacy overall.

It happens quite

[2021-12-02 16:21] frabaghe commented on #66
@astearns Even if there are good intentions in the principle itself, that doesn't excuse the ethical dilemma. When [W3C members rely on the sustainability principle as a strawman critique](https://www.coincenter.org/open-blockchains-and-decentralized-identity-standards/) against a nascent technology, and that technology just happens to pose a threat to the business models of the few W3C members as

[2021-12-03 15:09] cynthia commented on #66
Do you have data on this? Video only initially launched with no hardware acceleration; ever since it received hardware acceleration energy usage hasn't been a serious issue. An average consumer-grade laptop with HW decoding can easily get 6+ hours of usage.

[2021-12-03 18:28] tobie commented on #66
[…]

The purpose of the W3C TAG Ethical Web Principles is [literally](https://w3ctag.github.io/ethical-web-principles/#:~:text=The%20purpose%20of%20this%20document%20is%20to%20inform%20TAG%20review%20of%20new%20specifications) to "inform TAG review of _new_ specifications" (emphasis mine). That it caters to _new_ web technologies is by design and isn't specific to that particular principle.

That

[2021-12-03 20:45] frabaghe commented on #66
@cynthia Your question highlights the problem. Your instinct, in defense of `<video>`, was to only consider the local user's energy consumption. Whereas environmental concerns that have nothing to do with the user experience and _nothing to do with the spec itself_, can be used to suggest that a technology is unsustainable. For example, the Sustainability Principle could be used to claim that `<vi

[2021-12-03 20:58] frabaghe commented on #66
@tobie Correct me if I'm wrong, but the Sustainability Principle appears to be the _only_ principle that isn't tied to end user experience. Every other principle is directly tied to objectively making the macro and micro web experience better. User-centric principles make sense. But having a principle that has nothing to do with the user experience, and frankly nothing to do with the Web itself, m

[2021-12-03 21:32] csuwildcat commented on #66
I have to agree with @frabaghe. The TAG 'Sustainability' Principles are clearly being selectively used to attack some technologies because something they rely on far from their actual spec/code, deep down an operational causality chain, uses some amount of electricity the robed priests in the inner sanctum of the Electricity Police have deemed to be wasteful. If this is really where folks want to

[2021-12-03 21:39] hober commented on #66
As a reminder, this repository (and everything else in the `w3ctag` GitHub organization) operates under the [W3C Code of Ethics and Professional Conduct](https://www.w3.org/Consortium/cepc/)). I don't think casting aspersions such as "the robed priests in the inner sanctum of the Electricity Police" is in the spirit (or indeed the letter) of the CEPC.

[2021-12-03 22:05] csuwildcat commented on #66
The "robed priests in the inner sanctum of the Electricity Police" was not said at any specific person, it was a general reference to anyone on planet Earth who engages in superficial judgement over who uses what amount of electricity for what purpose. Are we honestly not able to have a little fun with language as we debate these Very Serious Topics™? Would you rather me say: "People who have clea

[2021-12-03 22:38] frabaghe commented on #66
☝️ Exactly. _That_ is entirely different from claiming 👇

One is a thorough review of highly specific technical implications, for Web users, directly related to a spec. The other is searching for distant abstractions and associations that can be based on [exaggerated media reports](https://www.forbes.com/forbes/1999/0531/6311070a.html).

The history of open competition has always been dependent on

[2021-12-03 22:48] OR13 commented on #66
I'll avoid the question of whether advocating for an ordering / priority of web principles is or is not anticompetitive, but regarding sustainability as it is related to power consumption, there can be data driven arguments over some aspects of that principle...

- https://webkit.org/blog/8970/how-web-content-can-affect-power-usage/
- https://developer.mozilla.org/en-US/docs/Web/Performance/Fundam

[2021-12-03 23:51] npdoty commented on #66
My reading is that several of the principles in the current draft extend beyond the end user experience. For example, harm to society and offline harassment are other impacts (like sustainability and carbon emissions) that extend beyond the current end user. Misinformation is another where the impacts are beyond the end user, although the principle as written focuses on addressing that by enabling

[2021-12-04 00:47] frabaghe commented on #66
@OR13 This entirely misses the concerns raised in the articles and posts I linked, above. I agree that the principle has noble intentions and, in theory, could be discussed with data driven arguments. But that's not at all how the sustainability principle has been used in practice.

The only time I've personally seen the sustainability principle invoked _publicly_, it was used in the following man

[2021-12-04 01:44] tobie opened #67 "Clarify that EWP should also be used when reviewing updates to existing specs"
The language of the document focuses on informing the review of new specs, see for example:

#66 makes the point that there's no reason for the principles to not be used while reviewing amendments to existing specs, for example by changing the above paragraph to:

[2021-12-04 01:44] tobie opened #68 "Consider adding a new principle about providing undiscriminating economic opportunity"
The web offers incredible economic opportunities, and while a number of the ethical web principles acknowledge the value of empowering individuals or providing equal opportunity, the economic opportunities enabled by the web are barely mentioned in EWP.

I'd be happy to help suggest text once we have agreement that (a) this is worth pursuing and (b) on the direction such a principle would take.

[2021-12-04 01:46] tobie commented on #66
In the interest of making this conversation productive, I think there's value in breaking it down into different actionable parts.

I've heard the following points be made in this discussion:

1. That the Ethical Web Principles (EWP) shouldn't add additional requirements to new web technologies that can't be back-ported to old ones. As pointed out by @astearns and myself earlier, that would essent

[2021-12-04 03:41] OR13 commented on #66
@frabaghe

I think its currently acceptable for an AC Member to pick and choose the principles that they want to apply or feel are most important when reviewing a proposed REC and they are not required to be consistent in which they choose or in how they argue in favor or against the principle being supported... In fact, they might even be frustratingly strategic in their inconsistencies.

I don't

[2021-12-04 04:37] OR13 commented on #68
When you say "undiscriminating economic opportunity", what do you mean?

- https://w3ctag.github.io/ethical-web-principles/#multi

vs....

...

- https://news.ycombinator.com/item?id=27985783

This rather painful HN thread addresses this topic head on... I am not sure I can extract any positive principles from it, but I will try...

I am hearing that it's a problem that "not everyone has the time

[2021-12-04 05:42] frabaghe commented on #66
@tobie Thank you. That seems like a good start. 👍

I would suggest that it would be worth considering some changes to the language to encourage new and advanced technologies. While I'm sure we all agree that net emissions should be minimized, the current wording gives the impression that higher power consumption is inherently bad. I do not believe that is a viewpoint everyone would agree with.

In

[2021-12-04 06:21] masinter commented on #68
Why is there a w3c? Why not just work on specs in github repos?

W3C provides a context and staff to facilitate standards-making.

W3C provides policies and perspectives to help people who want to contribute to the common good to do so.

The rules about consensus and reviews and Members and Invited Experts and Formal Objection were meant to help insure there weren’t natural global monopolies merel

[2021-12-04 09:51] torgo commented on #66
As noted above, this document is primarily about informing how the TAG reviews designs of new technologies and in doing so to help create a better web. We are also working to advance it towards becoming a [W3C Statement](https://www.w3.org/2021/Process-20211102/#memo) at which time it may take on more formal significance, however it intentionally does not contain actionable guidance. That actionab

[2021-12-04 10:53] tobie commented on #66
I second that.

Here’s a diff of @frabaghe’s proposal against the current wording, for reference (updated as per [@frabaghe's below comment](https://github.com/w3ctag/ethical-web-principles/issues/66#issuecomment-986045723)):

[2021-12-04 15:31] frabaghe commented on #66
Agreed.

Corrected:

[2021-12-04 15:35] msporny commented on #66
Just jumping in to say: I, too, find merit to what @frabaghe is saying, having been on the receiving end of the Sustainability principle being used in an inappropriate way (assertions w/o citations wrt. sustainability as they relate to Decentralized Identifiers). I can also see the anti-competitive argument that @frabaghe is making, but don't expect those opposed to it to understand why any time s

[2021-12-05 10:17] tobie commented on #68
I think those are great points, @masinter, worthy of a separate issue.

[2021-12-05 16:11] tobie commented on #66
To be clear, @msporny, this is not _my_ rewording. I merely created a diff to make it easier to see what changes @frabaghe was suggesting.

[2021-12-05 16:38] msporny commented on #66
Ah, my bad. In any case, it was helpful. :)

[2021-12-08 08:21] torgo commented on #67
Closed due to merge of #64

[2021-12-08 08:21] #67 closed, assigned to nobody

[2021-12-08 08:22] torgo commented on #62
Closed to to merge of #64

[2021-12-08 08:22] #62 closed, assigned to nobody

[2021-12-08 09:46] rhiaro commented on #51
Hi @oluoluoxenfree, I went top to bottom fixing typos and rearranging paragraphs to improve the flow, as well as looking out for language I could strengthen. We merged this earlier (#65). Would you have a chance to look over it and let us know if you think it's an improvement? We've also added language as part of other issues about ethical considerations being contextual and needing balanced again

[2021-12-08 10:48] rhiaro commented on #66
We (@torgo, @hadleybeeman, @cynthia and I) discussed this in a breakout at the TAG face-to-face today.

I want to acknowledge that "power consumption" and "emissions" are broad generalisations that are not actually that helpful when thinking about environmental impact of technology. All power generation is not created equal, so talking about "more" or "less" of it in a broad sense doesn't mean a l

[2021-12-08 23:58] rxgrant commented on #63
Questions I'd add:

* Are we going to focus on the math, when we can?
* (when someone has to do the math) Who has the burden of proof for claims that a WG has failed to consider the collective good?

[2021-12-09 02:56] rxgrant commented on #66
The current rewording still considers sustainability in isolation, when its intent is to allow advancing EWP even though sometimes using more energy.

I would add the following changes (redlined version):

  ~~not worsen the web's~~
  **advance EWP while minimizing**
environmental impact. We will consider the resulting net emissions and net efficiencies
  **, as well as the other goals achieved,**

[2021-12-09 06:40] mnot commented on #63
I share @lknik's concern here - this isn't algorithmic, someone will need to perform the balancing process, and it's likely to be inherently legalistic. This document is an expression of principles; if legal reasoning is any guide, how to balance them will need to be explored and documented through much discussion and experience, not merely written down ahead of time. Or, as per Coffin:

That said

[2021-12-09 06:59] lknik commented on #63
Thanks for the legal analysis @mnot. That's indeed more-or-less what I had in mind :)

[2021-12-09 06:59] mnot commented on #63
I just skimmed a few papers -- have a lot more reading on the queue :)

[2021-12-09 07:08] lknik commented on #63
So I imagine. Either way, I go with anti-trust and competition law now, and there would be plenty of relevant content, too. To simplify let's pick three values: privacy, competition, freedom of speech. First things first, while privacy is being considered in competition proceedings, there is an apparent clash here [1] [2]. But in EU at least (arguably similar in the US, just more costly in proceed

[2021-12-09 07:21] tobie commented on #63
Absolutely. Stating as much, and perhaps clarifying the different processes through which these decisions would be made (TAG review, formal objection process) would be really valuable, imho.

[2021-12-09 07:25] lknik commented on #63
So wait, _balancing_ during the review? And who would be **the arbiter**, because there always must be one? The TAG? Last I checked the desirable experience of the members did not include balancing in a quasi-legal process. I mean, I am not opposing this - someone must ultimately do this, and it may well be the TAG. But let's consider the implications.

[2021-12-09 15:03] astearns commented on #63
I personally would not expect balancing or decisions during a TAG review, particularly an early one. At most I might want an evaluation of which principles would likely apply to spark further conversation with people closer to the ideas being reviewed. The TAG might eventually be an arbiter over whether the EWP were adequately considered, but I am guessing that most balancing decisions will be mad

[2021-12-09 15:16] tobie commented on #63
Given one of the document's stated purposes is to "inform TAG review of new specifications and candidate additions to published recommendations," clarifying what the TAG is expected to do with those principles sounds valuable, even if, as Alan suggests above, it's only to outline potential conflicts between them and let the WG figure it out.

[2021-12-09 15:39] lknik commented on #63
Thanks @tobie for highlighting this. It seems that we may have a problem, then? :-)

[2021-12-09 19:45] masinter commented on #66
"increased power consumption can beneficially advance civilization forward, "
makes it sound like the consumption of more power might by itself beneficially advance civilization.
Really?

[2021-12-09 19:55] frabaghe commented on #66
@rhiaro Thank you. That sounds like a good plan. 👍

Indeed it is difficult. Therein lies the conundrum of this principle. If we don't consider the net benefits, then it's quite easy to believe that—as @rxgrant points out—we can never allow the plugging in of another computer into the Web. For example, video streaming services caused the demise of the inefficient brick and mortar VHS/DVD rental & s

[2021-12-09 20:14] npdoty commented on #66
I think considering power consumption and hardware longevity are valuable pointers in a high-level principle and that we should work in a separate sustainability group to give more detailed insights into sustainability impacts that might come from any particular W3C specification. Removing any mention of power consumption or carbon emissions, or only promoting power consumption as inherently advan

[2021-12-09 20:15] msporny commented on #66
@masinter wrote:

That's not what's being said, by anyone, AFAICT. What is being said is that the consumption of power has to be weighed against what that power is being used for (the overall cost/benefit). Clothes washers and dryers are notoriously energy hungry (water distribution, heating water, heating air to dry) -- massive energy costs. Those massive energy costs also enabled women to libera

[2021-12-10 02:30] frabaghe commented on #66
The technology born from W3C itself is a good example:

[2021-12-12 13:11] csuwildcat commented on #66
Lots to address about what was said in the comments cited below - let's dig in:

1. I don't think it's right to assume women are 1) doing the laundry, and 2) being saved like damsels in distress by the people and 'principles' in this thread.
2. "Clothes washers and dryers are notoriously energy hungry" <-- this is straight up wrong, here's reality: clothes washing is the labor intensive activity,

[2021-12-12 15:07] msporny commented on #66
@csuwildcat, you realize I was agreeing with your arguments, right? :)

@msporny: "And that's why I think @csuwildcat, @frabaghe, and @rxgrant's arguments cannot be easily dismissed."
@csuwildcat: "Oh yeah! Take this, you misguided, crocodile tear'ing, NYTista!"
@msporny: "Dude, wtf, I was agreeing with some of your points and citing scientific studies to back them up." :P

I said "I cringe a bit

[2021-12-12 20:14] csuwildcat commented on #66
@msporny I honestly didn't think you were expressing agreement, and you know I like you as a person (I'd venture to call you a friend). The NYT thing wasn't about you, it was in reference to folks who have used those dubious sources throughout the course of this larger debate. I still disagree that clothes dryers is a bad example, for the reasons I noted.

[2021-12-12 20:23] csuwildcat commented on #66
On a related note: I'm woefully amazed a technical body filled with highly educated individuals has created a bizarre set of pseudo-rules that have turned its development process into a parodic mess that any rational, data-aware observer would shake their head at. How can folks not see the damage this eco-navel gazery is causing for the larger community?  Can we just put a stop to this nonsense al

[2021-12-12 21:48] masinter commented on #66
What's been missing from EWP is the ethical principle of not using the Internet as a WMD (Weapon of Mass Delusion).   Including the Mass Delusion of cryptocoins and NFTs. Stop dithering about sustainability when the consequences of crypto-collapse are much more dire.

[2021-12-12 23:44] csuwildcat commented on #66
The fact someone posted the message below the days after the largest inflation print most people can remember in their lifetimes, all while money printers are teetering as they brrr away people's stored labor, is the apex of irony imo.

[2021-12-13 00:02] masinter commented on #66
Posted January 10, 2019. https://masinter.blogspot.com/2019/01/internet-is-a-wmd.html

[2021-12-13 00:06] csuwildcat commented on #66
Larry.

[2021-12-13 00:29] tobie commented on #66
I’m sorry, @csuwildcat, [calling people](https://github.com/w3ctag/ethical-web-principles/issues/66#issuecomment-991896087) whose sources you disagree with “superficial NYTistas” has no place in this community, nor has [your subsequent comment](https://github.com/w3ctag/ethical-web-principles/issues/66#issuecomment-991964283) which is just gratuitously insulting the work of members of this communi

[2021-12-13 00:45] csuwildcat commented on #66
@tobie I removed that, as requested

[2021-12-13 00:54] tobie commented on #66
As the above quotes show, Kardashev's scale has been brought up multiple times in this conversation in order to argue that an increase in energy consumption was not only correlated to progress, but even necessary for progress.

This argument is incorrect for a variety of reasons.

First, Kardashev's scale (described in a [1964 paper](https://adsabs.harvard.edu/pdf/1964SvA.....8..217K)) was designe

[2021-12-13 00:55] tobie commented on #66
Thank you.

[2021-12-13 02:06] msporny commented on #66
@tobie wrote:

Yes, exactly this. This point should be what people walk away with when reading the Sustainability principle.

[2021-12-13 03:07] npdoty commented on #66
I believe the subsequent comment, which I agree is gratuitously insulting to the work of members of this community and does not contribute to this issue discussion, remains in the thread. (And I'm not sure removing the suffix "ista" from one comment is addressing that concern either.)

Thanks @hober @torgo and @tobie for repeatedly calling out disrespectful and unproductive behavior in this thread

[2021-12-13 03:58] csuwildcat commented on #66
@npdoty I am clearly targeting the broken process and misguided 'principle' at bar. I do find it genuinely odd that such smart folks would create such a convoluted set of directives that drive endless division among members of the community. I also genuinely believe the objections these convoluted directives have aided in manifesting have needlessly distracted developers from the important work of

[2021-12-13 07:41] tobie commented on #66
@csuwildcat I personally don’t understand whether you’re targeting the EWP document, the sustainability principle, the formal objection process, the broader W3C process, a combination of the above, or something else.

I continue to find your comments off topic and in violation of our community norms and I will be disengaging from this thread until this is resolved.

[2021-12-13 16:31] torgo commented on #66
I thought we were on a good track with discussion of a potential rewording of our sustainability issue. Unfortunately this issue has devolved into name calling. I'm calling time out on this discussion, freezing the issue, and putting a temporary ban on certain individuals.

[2022-01-03 20:30] oluoluoxenfree commented on #51
Sorry for the slow response, looks a lot better to me @rhiaro!

[2022-01-05 00:05] frabaghe opened #70 "Unlock #66"
Would it be possible to unlock #66? The overall conversation was productive, in my view, and I'd very much like to be able respond to points in the issue that I opened. Thanks. 🙏

[2022-01-06 16:37] torgo commented on #70
Hi @frabaghe we're in the process of putting together some text on this topic to try to move the issue along - it's not ready yet. the proposal is to close #66 when we make that proposal and then use the PR to discuss / agree the text change.

[2022-01-06 16:37] #70 closed, assigned to nobody

[2022-01-06 17:36] frabaghe commented on #70
@torgo while I appreciate that direction 👍 , I'm not sure I understand why #66 needs to remain locked. The conversation was and can still be productive in the meantime and there are issues that I'd like to address _before_ text is drawn up.

[2022-01-11 09:54] torgo commented on #51
We discussed and agreed not to do subheadings right now. Hence and considering the positive feedback I'm going to close this issue. Thanks!

[2022-01-11 09:54] #51 closed, assigned to torgo, rhiaro

[2022-01-25 18:51] jbradleychen opened #71 "Consider the relationship between rights and responsibilities"
This is a wonderful draft and a great contribution to the open web.

One thing that seems missing to me, and worth considering, is a discussion of responsibilities. Rights only function in society because of corresponding responsibilities, responsibilities that are necessary but commonly taken for granted. For example, the right to physical safety is widely acknowledged, but meaningless unless ind

[2022-03-08 09:18] torgo commented on #63
Hi we've decided to close this one as we think it's out of scope for the document as is. This document isn't meant to be an algorithmic, step-by-step guide for how to apply ethics. It's to highlight and document the ethical issues we've come across. We'd certainly be interested in seeing submissions from the community but we don't think it belongs in this document.

[2022-03-08 09:18] #63 closed, assigned to nobody

[2022-03-08 09:31] torgo commented on #68
Just discussing this morning. We're considering an edit to one of the existing principles (Individuals' control and power) to capture this. **And** and as well we thought that maybe this more belongs in the process CG? @wseltzer @hober any thoughts?

[2022-03-08 09:34] torgo commented on #44
We're going to try to work on this one at the f2f in 2 weeks.

[2022-03-22 10:06] rhiaro commented on #66
@torgo @hadleybeeman and I [worked on the sustainability principle](https://github.com/w3ctag/ethical-web-principles/pull/72) in our Hybrid face-to-face today. We're closing this issue on the basis of these changes.

[2022-03-24 16:54] vsnt opened #74 "Concerns with quick merge of Issue #72"
It was brought to the attention of the Credentials Community Group on March 22, that TAG issue #72 was resolved and merged without allowing sufficient time to be reviewed by the broader community. This is in no way a reflection on the solution, but a request to allow time for the community to give feedback prior to merging. https://github.com/w3ctag/ethical-web-principles/pull/72

CCG co-chairs re

[2022-03-24 18:16] hober commented on #74
I think perhaps you misapprehend the TAG's process, @vsnt. Please do file concrete issues on the current text of the document!

[2022-03-24 18:22] torgo commented on #74
Hi - agree with Tess. We are totally open to additional feedback. We try to iterate quickly rather than waiting for "perfect" text before we merge. If the CCG would would like to make suggestions, please open a new issue. Thanks!

[2022-03-24 18:22] #74 closed, assigned to nobody

[2022-03-24 21:53] vsnt commented on #74
Hi, I'm re-opening this thread, per the request of someone in the CCG, who has comments. You closed this issue before the comments could be raised!

Could you please leave it open to allow for time for them to respond? This was open for less than an hour and that's next to no time to allow for someone to reply. Thank you.

[2022-03-25 07:31] rhiaro opened #75 "Grammatical consistency of principles"
Some principles are "should", some are "must" and some simply "are". Can we make them consistent? I propose aligning on "are" (as aspirational, rather than currently true) but don't have strong feelings. ie:

* There is one web
* The web **does** not cause harm to society
* The web **supports** healthy community and debate
* The web is for all people
* **The web is secure and respects peoples' pri

[2022-03-25 15:37] rhiaro commented on #66
Sorry for the pre-emptive closing of this issue. Further discussion on the changes to the sustainability principle is welcome, and closing the issue wasn't meant to imply otherwise. If there are specific text changes or focussed related topics, we encourage new issues so that conversation is easier to follow than in a single large thread with many topics.

[2022-03-29 07:12] rxgrant commented on #74
I've added my comment [on pull #72](/w3ctag/ethical-web-principles/pull/72#issuecomment-1081486664).

[2022-03-29 17:42] rhiaro opened #76 "Not using principles in isolation"
The intro notes what to do if principles appear to be in tension with each other, but this is subtly different from not looking at any one principle in isolation. It does also say "that **collectively** support a web that is beneficial for society" but perhaps we can emphasise this to encourage considering the principles holistically rather than individually?

This also speaks to the problem of "w

[2022-05-16 14:43] celsobessa opened #78 "Translation"
I would like to contribute with pt-br and es-co translations of this draft. What is the proper way of doing it and proposing it as official?

Thanks.

[2022-05-25 08:45] mnot opened #79 "Find a voice"
These are all just assertions; who is saying it? Why aren't you identifying yourselves? I think this is more powerful / believable:

If this goes to W3C statement, it can be modified appropriately.

[2022-05-25 08:52] mnot opened #80 "Protect vs Control"
protect doesn't capture all aspects; this would be better as 'control'

[2022-05-26 04:37] johnwilander opened #81 "Missing word in §2.5"
Paragraph 2.5 has this sentence:

I assume it's meant to be "… when they _browse_ the web" or similar.

[2022-06-16 01:46] mnot opened #82 "Honouring expectations"
It might be good to explicitly establish that surprising web users is unethical. Over the years, people have built a mental model of how the web works, and if the underlying technology changes in ways that break their expectations, that's an issue.

For example, the use of HTTPS has always implied that communication between the origin server and the browser is protected from modification and obser

[2022-06-16 01:50] mnot opened #83 "Complexity as an ethical issue"
Should the document say anything about the burden of complexity on users?

For example, security user experience (such as the browser lock icon and cert warning dialogue) has gone through a long journey informed by user testing that shows that even though people value their security, they tend to click through things to get what they want.

Arguably, we shouldn't expect users to form a sophisticat

[2022-06-16 12:30] dbaron commented on #83
I agree with your point about security user experience, and I think I likely also agree with your point about complexity.

However, I'm not sure that complexity is the best underlying principle to use to explain the point about security user experience point you're making.  I think that it might be more clearly demonstrating that it's hard to get meaningful consent when you're asking for that cons

[2022-06-21 02:34] mnot commented on #83
Not an example per se, but to me this is also one of the fundamental points of Roy's thesis and REST -- complexity in interfaces creates cognitive overload.

Examples are hard to find because we already strive to reduce user-visible complexity where possible; it's when new folks show up and want to solve their problems by increasing complexity that we have a problem.

Using that lens, I'd say the

[2022-07-05 08:27] torgo commented on #75
@hadleybeeman can you comment?

[2022-07-05 08:41] torgo commented on #78
Hi @celsobessa thanks so much for this offer and apologies it's taken a while for us to respond. We really appreciate the offer and we'd welcome having this document in different languages. There's a w3c process for document translations which can be found here: https://www.w3.org/Consortium/Translation/  Having said that, it feels to us like this will be a more difficult task than a regular spec

[2022-07-26 09:11] rhiaro commented on #81
Thanks for noticing! Looks like this has been updated to "use the web" in a recent editorial round.

[2022-07-26 09:11] #81 closed, assigned to rhiaro

[2022-07-26 09:49] rhiaro commented on #5
Revisited and discussed today.  While we agree with the motivations for wanting data portability, we think this is too low level a point for this particular document. Data portability may certainly be one way to help towards the "enhance individuals' control and power" principle and the "must not cause harm to society" principle, but as a general concept does not mean the same thing to all groups.

[2022-07-26 09:49] #5 closed, assigned to rhiaro

[2022-07-26 09:51] torgo commented on #66
No additional comments have come in so we're closing this.

[2022-07-26 09:51] #66 closed, assigned to rhiaro

[2022-07-27 02:48] mnot commented on #80
To extend a bit -

Privacy is more than just data protection. While data protection is largely about the processes and technical measures taken to assure that data is handled correctly (e.g., preventing unauthorised access), privacy encompasses a much wider scope, including fundamental issues like human dignity, and yes -- the ability to control your data.

[2022-07-27 09:09] torgo commented on #80
Totally agree with what you wrote above. We think the issue may be about the word “protect” which we mean more in the wider sense rather than in the context of “data protection”. We’ll work on it.

[2022-07-27 09:25] torgo commented on #58
Agreed at f2f we are closing this. We will continue to work on this in #79.

[2022-07-27 09:25] #58 closed, assigned to nobody

[2022-07-27 09:36] hadleybeeman commented on #75
Discussed in [face-to-face in London](https://github.com/w3ctag/meetings/blob/gh-pages/2022/07-London/README.md)

[2022-07-27 09:36] rhiaro commented on #75
* There is one web
* The web should not cause harm to society
* The web **should** support healthy community and debate
* The web **should be** for all people
* **The web should be secure and privacy-respecting**
* The web **should** enable freedom of expression
* The web **should** make it possible for people to verify the information they see
* The web **should** enhance individuals' control and

[2022-07-27 10:22] torgo commented on #79
Just talking about this in our f2f with @hadleybeeman and @rhiaro. We think we need to not state it as "this is what we, a small group, think" but more of "join our movement" - more manifesto-ish rather than "this is a consensus view of *this* particular group." We also want the Statement process to make it clear that the doc has W3C community support while also not limiting its applicability to t

[2022-07-27 10:35] rhiaro commented on #37
@hadleybeeman and I have been working on this at our f2f, and will add to PR #84 as we progress

[2022-07-27 10:39] torgo commented on #42
At this is already covered in the [Web Machine Learning Ethics](https://webmachinelearning.github.io/webmachinelearning-ethics/) document it feels redundant to also put it here. Hence we've agreed to close this issue.

[2022-07-27 10:39] #42 closed, assigned to torgo

[2022-07-27 10:44] torgo commented on #44
So we haven't managed to address this yet though we still think it's important enough that we should do something before we progress the doc along Statement track.

[2022-07-27 13:34] torgo commented on #54
For marginalised / minority groups we could use the example of people being singled out for being in the LGBT community eg https://www.theguardian.com/technology/2021/nov/10/facebook-bans-ads-targeting-race-sexual-orientation-and-religion https://www.pinknews.co.uk/2018/08/26/facebook-targeted-lgbt-users-with-gay-cure-adverts-deemed-predatory/2/